

<div id="background" class="waveWrapper waveAnimation">
   
    <div class="waveWrapperInner bgTop">
      <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
    </div>
    <div class="waveWrapperInner bgMiddle">
      <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
    </div>
    <div class="conteneur">
        <div id="title">
            <h1>WELCOME TO JOBBOARD</h1>
            <h3>Start browsing for your future</h3>
            <a class="btn btn-dark" (click)="seeJobs()">Browse offers</a>
        </div>
    </div>
  </div>